<div class="container text-center " style="margin-bottom: -3px">
    <span class="caret_foot"></span>
</div>
<div  style="background-color:  #EE86A7;">
    <div class="container" style="text-align: right;">
        <table width="100%" style="margin-top: 8px;margin-bottom:8px">
            <tr>
                <td> 
                    <img src="/Public/img/bottom_logo.png" alt=""/>
                </td> 
                <td rowspan="2" style="width: 88px;"> 
                    <img src="/Public/img/weixin.png" alt=""/>
                </td>
            </tr>
            <tr>
                <td style="padding-right: 5px"> 
                    <ul class="list-group list-inline list-group-bottom">
                        <li class="list-group-item list-group-item_bottom">
                            <a href="http://www.wipro-unza.com/china/about-us/company-profile/" target="blank" style="color:white">
                                集团介绍</a></li>
                        <li class="list-group-item list-group-item_bottom">|</li>
                        <li class="list-group-item list-group-item_bottom">
                            <a href="http://www.wipro-unza.com/china/contact-us/" target="blank" style="color:white">联系我们</a></li>
                        <li class="list-group-item list-group-item_bottom">|</li>
                        <li class="list-group-item list-group-item_bottom">
                            <a href="http://www.romano-man.com.cn/" target="blank" style="color:white">罗曼诺官网</a></li> 
                    </ul>
                    <span class="list-group-item_bottom">
                        <!-- <a href="http://www.miitbeian.gov.cn/" target="blank" style="color: white">粤ICP备13039503号-3</a>-->
                        版权所有©维布络安舍(广东)日用品有限公司</span>
                </td>
            </tr>
        </table> 
    </div>
</div>
<script type="text/javascript">
    var _py = _py || [];
    _py.push(['a', 'sLs..Xo38SBpgIvEFaTyKrdtDlP']);
    _py.push(['domain', 'stats.ipinyou.com']);
    _py.push(['e', '']);
    -function(d) {
        var s = d.createElement('script'),
                e = d.body.getElementsByTagName('script')[0];
        e.parentNode.insertBefore(s, e),
                f = 'https:' == location.protocol;
        s.src = (f ? 'https' : 'http') + '://' + (f ? 'fm.ipinyou.com' : 'fm.p0y.cn') + '/j/adv.js';
    }(document);
    //2017-01-10新增的脚本
    window._CWiQ = window._CWiQ || [];
    window.BX_CLIENT_ID = 51343; // 帐号ID
    (function() {
        var c = document.createElement('script')
                , p = 'https:' == document.location.protocol;
        c.type = 'text/javascript';
        c.async = true;
        c.src = (p ? 'https://' : 'http://') + 'tp.ana.cnad.com.cn/boot/0';
        var h = document.getElementsByTagName('script')[0];
        h.parentNode.insertBefore(c, h);
    })();
    _CWiQ.push(['_trackPdmp', '访问过网页的人', 1]);
</script>
<noscript>
<img src="//stats.ipinyou.com/adv.gif?a=sLs..Xo38SBpgIvEFaTyKrdtDlP&e=" style="display:none;"/>
</noscript>