<!DOCTYPE html>
<html>
    <head>
        <title>艾诗-香水沐浴</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js" type="text/javascript"></script>
        <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <link href="/Public/style.css" rel="stylesheet" type="text/css"/> 
    </head>
    <body>
    <include file="./App/Home/View/public/header.html" />    
    <div class="container">  
        <img src="/Public/img/aishi_product.gif" alt="" style="width:100%"/> 
        <ul class="nav nav-tabs nav-justified" style="padding-left: 0px;padding-right: 0px">
            <li class="list-group-item"> 
                <div class="page-header" style="padding-bottom: 2px;margin: 0px;font-weight: bold;color:#EE86A7">{$parentdata[0].cat_name}</div>
                <table style="width:100%">                                   
                    <volist name="childdata1" id="vo" key="k" >
                        <switch name="k%3">
                        <case value="1"><tr><td style="width:33.3%">
                                    <a href="/index.php?c=Index&a=aishi_product&cat_id={$vo.cat_id}">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;{$vo.cat_name}</a>
                                </td></case>     
                        <case value="2"><td  style="width:33.3%">
                                <a href="/index.php?c=Index&a=aishi_product&cat_id={$vo.cat_id}">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;{$vo.cat_name}</a></td></case>
                        <default /><td  style="width:33.3%">
                            <a href="/index.php?c=Index&a=aishi_product&cat_id={$vo.cat_id}">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;{$vo.cat_name}</a></td></tr>
                        </switch>                                    
                    </volist>                               
                </table> 
            </li> 
            <li class="list-group-item">
                <div class="page-header" style="padding-bottom: 2px;margin: 0px;font-weight: bold;color:#EE86A7">{$parentdata[1].cat_name}</div>
                <table class="table" style="margin-bottom: 0">                                   
                    <volist name="childdata2" id="vo" key="k" >
                        <switch name="k%3">
                        <case value="1">
                            <tr><td style="width:33.3%">
                                    <a href="/index.php?c=Index&a=aishi_product&cat_id={$vo.cat_id}">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;{$vo.cat_name}
                                    </a></td>
                        </case>     
                        <case value="2">
                            <td style="width:33.3%">
                                <a href="/index.php?c=Index&a=aishi_product&cat_id={$vo.cat_id}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;{$vo.cat_name}
                                </a></td>
                        </case>
                        <default /><td style="width:33.3%">
                            <a href="/index.php?c=Index&a=aishi_product&cat_id={$vo.cat_id}">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;{$vo.cat_name}
                            </a></td></tr>
                        </switch>                                    
                    </volist>                               
                </table> 
            </li> 
            <li class="list-group-item">  
                <div class="page-header" style="padding-bottom: 2px;margin: 0px;font-weight: bold;color:#EE86A7">{$parentdata[2].cat_name}</div>
                <table style="width:100%">                                   
                    <volist name="childdata3" id="vo" key="k">
                        <switch name="k%3">
                        <case value="1"><tr><td style="width:33.3%">
                                    <a href="/index.php?c=Index&a=aishi_product&cat_id={$vo.cat_id}">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;{$vo.cat_name}
                                    </a></td></case>     
                        <case value="2"><td style="width:33.3%">
                                <a href="/index.php?c=Index&a=aishi_product&cat_id={$vo.cat_id}">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;{$vo.cat_name}
                                </a></td></case>
                        <default /><td style="width:33.3%">
                            <a href="/index.php?c=Index&a=aishi_product&cat_id={$vo.cat_id}">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;{$vo.cat_name}
                            </a></td></tr>
                        </switch>                                    
                    </volist>                               
                </table>  
            </li> 
        </ul>  
        <table class="table" style="margin-top: 10px;margin-bottom: 0px">
            <volist name="goodsdata" id="vo" key="k" >
                <if condition="count($goodsdata) neq 1 ">
                    <switch name="k%2">
                    <case value="1"><tr style="margin-top: 5px">
                            <td style="width: 25%;padding: 0"><img src="/Public/{$vo.goods_thumb}" /></td>
                            <td style="width: 25%">
                                <p style="font-weight: bold"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>{$vo.goods_name}</p>
                                <p><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>{$vo.goods_slname}</p>
                                <a href="{$vo.seller_note}" target="blank"><img src="/Public/img/btn-tmall.gif" /></a>
                                <p style="font-size: 12px">{$vo.goods_brief}</p>
                            </td>
                    </case>     
                    <default />   
                    <td style="width: 25%"><img src="/Public/{$vo.goods_thumb}" /></td>
                    <td style="width: 25%">
                        <p style="font-weight: bold"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>{$vo.goods_name}</p> 
                        <p><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>{$vo.goods_slname}</p>
                        <a href="{$vo.seller_note}"  target="blank"><img src="/Public/img/btn-tmall.gif" /></a>
                        <p style="font-size: 12px">{$vo.goods_brief}</p>
                    </td></tr>              
                    </switch>                     
                    <else />  
                    <tr><td style="width: 25%"><img src="/Public/{$vo.goods_thumb}" /></td>
                        <td style="width: 25%">
                            <p style="font-weight: bold"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>{$vo.goods_name}</p>
                            <p><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>{$vo.goods_slname}</p>
                            <a href="{$vo.seller_note}" target="blank"><img src="/Public/img/btn-tmall.gif" /></a>
                            <p style="font-size: 12px">{$vo.goods_brief}</p>
                        </td><td></td><td></td>
                    </tr>
                </if>
            </volist>    
        </table> 
        <ul class="pagination">{$page}</ul> 
    </div>
    <include file="./App/Home/View/public/foot.html" /> 
</body>
</html>
