<!DOCTYPE html>
<html>
    <head>
        <title>销售网点-艾诗-香水沐浴</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js" type="text/javascript"></script>
        <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <link href="/Public/style.css" rel="stylesheet" type="text/css"/> 
    </head>
    <body>
    <include file="./App/Home/View/public/header.html" />  

    <div class="carousel slide" id="carousel-595514" data-ride="carousel">
        <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#carousel-595514">
            </li>
            <li data-slide-to="1" data-target="#carousel-595514">
            </li>  
        </ol>
        <div class="carousel-inner" >
            <div class="item active">
                <a href="https://detail.tmall.com/item.htm?spm=a1z10.1-b.w9079235-12807189584.3.irSbCi&id=534121909544&rn=d338824c8560e618f0c451ac0d085ab6&abbucket=3&skuId=3186645957237" target="blank">
                    <img src="/Public/img/sp_slide_01.jpg" alt=""/>  
                </a>    
            </div>
            <div class="item">
                <a href="https://detail.tmall.com/item.htm?spm=a1z10.1-b.w9079235-12807189584.1.irSbCi&id=42217557306&rn=109aedd60f0276c4f539d929d6072059&abbucket=10&skuId=75285199571&scene=taobao_shop" target="blank">
                    <img src="/Public/img/sp_slide_02.jpg" alt=""/>  
                </a>
            </div>  
        </div>         
    </div> 
    <div class="container">
        <img  src="/Public/img/network_01.png"/>
        <div style="background-color: rgb(238,134,169);padding:0px 5px 5px 5px;">
            <table class="table" style="margin-bottom: 0px;border-radius:5px;border: 1px solid white;border-collapse:separate">
                <tr>
                    <td style="width:25%;">
                        <a href="https://enchanteur.tmall.com/" target="blank">
                            <img  src="/Public/img/sale_01.jpg" class="img-responsive"/>
                        </a>
                    </td>
                    <td style="width:25%;">
                        <a href="https://cangbenjjry.tmall.com/" target="blank">
                            <img  src="/Public/img/sale_02.jpg"  class="img-responsive"/>
                        </a>
                    </td>
                    <td style="width:25%;">
                        <a href="http://mall.jd.com/index-197186.html" target="blank">
                            <img  src="/Public/img/sale_03.jpg"  class="img-responsive"/>
                        </a>
                    </td>
                    <td style="width:25%;">
                        <a href="http://mall.jd.com/index-82977.html" target="blank">
                            <img  src="/Public/img/sale_04.jpg"  class="img-responsive"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width:25%;">
                        <a href="http://cangben.yhd.com/" target="blank">
                            <img  src="/Public/img/sale_05.jpg" class="img-responsive"/>
                        </a>
                    </td>
                    <td style="width:25%;">
                        <a href="http://shop.suning.com/70108918/index.html" target="blank">
                            <img  src="/Public/img/sale_06.jpg"  class="img-responsive"/>
                        </a>
                    </td>
                    <td style="width:25%;">
                        <a href="http://mall.icbc.com.cn/shop/index.jhtml?shopId=016243&themeId=000150" target="blank">
                            <img  src="/Public/img/sale_07.jpg"  class="img-responsive"/>
                        </a>
                    </td>
                    <td style="width:25%;">
                        <a href="https://list.tmall.com/search_product.htm?q=%B0%AC%CA%AB&user_id=1129326215&type=p&cat=50514008&spm=a3204.7084717.a2227oh.d100&from=chaoshi.index.pc_1_searchbutton" target="blank">
                            <img  src="/Public/img/sale_08.jpg"  class="img-responsive"/>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <img  src="/Public/img/network_02.png"/>
        <img  src="/Public/img/network_03.png"/>
        <img  src="/Public/img/network_04.png"/>
    </div>
    <include file="./App/Home/View/public/foot.html" /> 
</body>
</html>
