<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>防伪查询-罗曼诺-香水沐浴</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js" type="text/javascript"></script>
        <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <link href="/Public/style.css" rel="stylesheet" type="text/css"/> 
    </head>
    <body>
    <include file="./App/Home/View/public/header.html" />  
    <div class="container"> 
        <div class="page-header" style="border-bottom: 2px solid rgb(1,24,102)">
            <h4><span style="color:#EE86A7;font-weight: bold">艾诗防伪查询方式</span><small>
                    <span class="glyphicon glyphicon-search" style="padding-top: 5px"></span>&nbsp;顾客收到产品后,可以利用产品上的防伪标签进行查询</small>
            </h4>
        </div>  
        <div>
            <img src="/Public/img/nav_divide.png"/>
            <span style="color:#EE86A7;font-weight: bold">1&nbsp;网站查询</span>
            <button style="color:#EE86A7;margin-top: 5px">
                <a href="http://wugcp.cn:82/f.aspx"  target="blank"><span class="glyphicon glyphicon-arrow-right"></span>进入防伪查询</a>
            </button>
        </div>
        <img src="/Public/img/validate_01.png" style="margin-bottom: 5px" > 
        <div>
            <img src="/Public/img/nav_divide.png"/>
            <span style="color:#EE86A7;font-weight: bold">2&nbsp;微信查询</span>
            <button style="color:#EE86A7;margin-top: 5px">
                <a href="#"><span class="glyphicon glyphicon-arrow-right"></span>关注艾诗官方微信或扫描二维码</a>
            </button>
        </div>
        <img src="/Public/img/validate_02.png" >      
    </div>   <img src="/Public/img/validate_03.jpg" class="img-responsive">
    <include file="./App/Home/View/public/foot.html" /> 
</body>
</html>
